
<section class="home-content">

    {#/ venue CTA /#}
    <div>
        <a href="{{ path('venue_registration') }}">
                <h2>Venue Registration</h2>

                <ul>
                    <li><p>add artists to your market</p></li>
                    <li><p>feature artists at your market</p></li>
                    <li><p>reach Local Art's user base</p></li>
                    <li><p>show times, location, and more</p></li>
                    <li><p>link back to your own site so users can find out more about your market</p></li>
                </ul>
        </a>
    </div>


    {#/ artist CTA /#}
    <div id="registration">
        <a href="{{ path('artist_registration') }}">
            <h2>Artist Registration</h2>
            {#<p>Create an artist account to:</p>#}

            <ul>
                <li><p>be featured at markets</p></li>
                <li><p>join multiple markets</p></li>
                <li><p>manage your joined markets</p></li>
                <li><p>reach Local Art's user base</p></li>
                <li><p>link back to your own site so users can find out more about your market</p></li>
            </ul>

        </a>
    </div>
</section>


<section class="home-about">
    <h2>About Local Art</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span></p>

</section>
