
// header

header
  font-family: 'Roboto', sans-serif;
  display: flex

  a
    +greyFont($siteGreyShade)

  a.logo
    +col(1)
    font-size: 0
    background: url('../assets/local_art_logo_50x50.svg') no-repeat

  div
    +col(4)

    h1
      font-size: 6.2rem

    p
      padding-top: 1.5rem
      font-size: 2.4rem


  & > ul
      +col(2)
      +colOffset('left', 4)
      display: flex
      justify-content: space-between

      & > li
        font-size: 1.6rem
        p
          padding-top: 1rem

      & > li:first-child
        p
          a
            +greyFont($siteGreyShade)
            padding: 1rem 0
            border-bottom: 1px solid rgba(0, 0, 0, $siteGreyShade)

            &:visited
              color: +greyFont($siteGreyShade)

            &:hover
              color: $blue
              border-bottom: 1px solid $blue





      & > li:last-child
        p
          a
            padding: 1rem
            border-radius: 50rem
            background: $orange
            color: $white

            &:hover
              background: $blue
