
// header
header
  +greyFont($siteGreyShade)
  font-family: 'Roboto', sans-serif;
  display: flex

  .logo
    margin-right: 2rem
    +col(1.25)

  div
    +col(3.5)
    +colOffset('left', 0.25)

    h1
      font-size: 7.2rem

    p
      padding-top: 1.5rem
      font-size: 2.4rem


  & > ul
      +col(2)
      +colOffset('left', 4)
      display: flex
      justify-content: space-between

      & > li
        font-size: 1.6rem

      & > li:first-child
        p
          padding-top: 1rem
          a
            +greyFont($siteGreyShade)
            padding: 1rem 0
            border-bottom: 1px solid rgba(0, 0, 0, $siteGreyShade)

            &:visited
              color: +greyFont($siteGreyShade)

            &:hover
              color: $orange
              border-bottom: 1px solid $orange





      & > li:last-child
        p
          padding: 1rem
          border-radius: 50rem
          background: $orange

          a
            color: $white
