
{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}

    {#<main class="venue-invitations">#}

        {#{% if invitations %}#}

            {#<ul>#}
                {#{% for invite in invitations %}#}
                    {#{% if invite.requestStatus == 'pending' %}#}
                        {#<li>#}

                            {#<p>{{ invite.venue.marketName }}</p>#}
                            {#<p><a href="{{ path('remove_invitation', { id: invite.id  }) }}">Remove</a></p>#}

                        {#</li>#}
                    {#{% endif %}#}
                {#{% endfor %}#}
            {#</ul>#}

        {#{% else %}#}

            {#<p>No pending invitations</p>#}

        {#{% endif %}#}

    {#</main>#}
{#{% endblock %}#}


{% extends 'base.html.twig' %}

{% block body %}

    <main class="venue-invite-artists">

        <h1>Pending invitations</h1>

        {% if invitations %}

            {{ include(':secure/account/venue/partials:pendingArtistInvites.html.twig') }}

        {% else %}

            <h2 class="no-pending-invitations">No pending invitations found for your venue</h2>
        {% endif %}


    </main>

{% endblock %}