{% extends 'base.html.twig' %}

{% block body %}

    <main class="venue-invite-artists">

        <h1>Invite artists to your market group</h1>

        {{ include(':secure/account/venue/partials:artistSearchForm.html.twig') }}

        {% if artists %}

            {{ include(':secure/account/venue/partials:inviteArtistResult.html.twig') }}


        {% elseif query %}

            <p class="no-artist-results">No artists found for search: <span>{{ query }}</span></p>

        {% endif %}


    </main>

{% endblock %}