
{% extends 'base.html.twig' %}

{% block body %}

    <main class="artist-invitations">

        {% if invitations %}

            <ul>
                {% for invite in invitations %}
                    {% if invite.requestStatus == 'pending' %}
                        <li>

                            <p>{{ invite.venue.marketName }}</p>
                            <p><a href="{{ path('artist_invite_response', { response: 'denied', inviteId: invite.id }) }}">Deny Invite</a></p>
                            <p><a href="{{ path('artist_invite_response', { response: 'accepted', inviteId: invite.id  }) }}">Accept Invite</a></p>

                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        {% endif %}

    </main>
{% endblock %}
