
{% extends 'base.html.twig' %}

{% block body %}

    <main class="artist-invitations">


        <p>Total invitations: <span>{{ total_pending }}</span></p>
        {% if invitations %}

            {{ include(':secure/account/artist/partials:artistInvitationList.html.twig') }}

        {% else %}

            <p>No pending invitations</p>

        {% endif %}

    </main>
{% endblock %}


