@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto|Slabo+27px");
/* CSS RESET
====================================================================================================
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  margin: 0;
  padding: 2% 2% 0 2%;
  font-size: 10px;
  position: relative;
  padding-bottom: 4rem; }

body {
  margin: 0;
  min-height: 100%; }

main {
  min-height: calc(100vh - 28rem); }

header {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex; }
  header a {
    color: rgba(0, 0, 0, 0.6); }
  header a.logo {
    width: calc((100% / 12) * (1 * 0.98));
    margin: 0;
    padding: 0;
    font-size: 0;
    background: url("../assets/local_art_logo_50x50.svg") no-repeat; }
  header div {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0; }
    header div h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 6.2rem; }
    header div p {
      padding: 1rem 0.25rem 0;
      font-family: 'Roboto', sans-serif;
      font-size: 2.4rem; }
  header > ul {
    width: calc((100% / 12) * 2);
    margin: 0;
    padding: 0;
    margin-left: calc((100% / 12) * 4);
    display: flex;
    justify-content: space-between; }
    header > ul > li {
      font-family: 'Roboto', sans-serif;
      font-size: 1.6rem; }
      header > ul > li p {
        padding-top: 1rem; }
    header > ul > li:first-child p a {
      color: rgba(0, 0, 0, 0.6);
      padding: 1rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
      header > ul > li:first-child p a:visited {
        color: +greyFont(0.6); }
      header > ul > li:first-child p a:hover {
        color: #46c1f0;
        border-bottom: 1px solid #46c1f0; }
    header > ul > li:last-child p a {
      padding: 1rem;
      border-radius: 50rem;
      background: #f37444;
      color: rgba(255, 255, 255, 0.89); }
      header > ul > li:last-child p a:hover {
        background: #46c1f0; }

footer {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  width: 100vw;
  margin: 4rem 0 0 -2%;
  padding: 2%;
  background: rgba(0, 0, 0, 0.2);
  height: 14rem; }
  footer a {
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.6); }
    footer a:visited {
      color: rgba(0, 0, 0, 0.6); }
  footer ul {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0; }
    footer ul li {
      padding-top: 2rem; }
    footer ul li:nth-child(3n + 1) {
      padding-top: 0; }
  footer ul:last-child li a {
    color: #f37444; }
    footer ul:last-child li a:hover {
      color: #46c1f0; }
  footer ul:last-child li:first-child a {
    color: rgba(0, 0, 0, 0.6); }
    footer ul:last-child li:first-child a:hover {
      color: #46c1f0; }

main.login div.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

main.login form {
  width: calc((100% / 12) * 5);
  margin: 0;
  padding: 0;
  height: 40rem;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin: 4rem 0 6rem;
  border-radius: 1px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.15); }
  main.login form p {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    color: #46c1f0;
    text-align: center; }
  main.login form label {
    display: none; }
  main.login form input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin: 4rem 0 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.6);
    width: 100%; }
  main.login form button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    border: 0;
    padding: 1rem;
    border-radius: 50rem;
    background: #f37444;
    color: rgba(255, 255, 255, 0.89); }
    main.login form button:hover {
      background: #46c1f0; }

main.login > p {
  font-family: 'Slabo 27px', serif;
  font-size: 2.4rem;
  line-height: 3.36rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.89);
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.89); }

main.home-page div.hero {
  background: url("../assets/local_art_hero.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  main.home-page div.hero h1 {
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 6.2rem;
    color: rgba(0, 0, 0, 0.6); }
  main.home-page div.hero form {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0;
    padding: 0.5rem;
    background: #80c342;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2rem 0.5rem rgba(255, 255, 255, 0.89); }
    main.home-page div.hero form p {
      margin-left: calc((100% / 12) * 0.25);
      margin-right: calc((100% / 12) * 0.25);
      display: inline-block;
      border-radius: 100%;
      background: rgba(243, 116, 68, 0.75);
      width: 3rem;
      height: 3rem;
      line-height: 2.75rem;
      text-align: center;
      font-size: 1.8rem;
      font-family: 'Lato', sans-serif;
      color: rgba(255, 255, 255, 0.89); }
    main.home-page div.hero form button {
      margin-left: calc((100% / 12) * 0.25);
      border-radius: 50rem;
      padding: 0.5rem 1rem;
      line-height: 2rem;
      background: #f37444;
      font-size: 1.8rem;
      font-family: 'Lato', sans-serif;
      color: rgba(255, 255, 255, 0.89);
      border: none; }
    main.home-page div.hero form div {
      width: calc((100% / 12) * 3);
      margin: 0;
      padding: 0;
      display: inline-block;
      border-radius: 0; }
      main.home-page div.hero form div label {
        display: none; }
      main.home-page div.hero form div input {
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1.8rem;
        font-family: 'Lato', sans-serif;
        color: #46c1f0; }
      main.home-page div.hero form div select {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        margin-left: 0.25rem;
        padding: 0.5rem 0.75rem;
        border: 0;
        border-radius: 0;
        font-size: 1.8rem;
        font-family: 'Lato', sans-serif;
        color: #46c1f0; }
      main.home-page div.hero form div:first-of-type input {
        border-radius: 50rem 0 0 50rem; }
      main.home-page div.hero form div:last-of-type input {
        border-radius: 0 50rem 50rem 0; }

section.home-content {
  display: flex;
  justify-content: center; }
  section.home-content div {
    width: 100%;
    min-height: 20vw;
    color: rgba(255, 255, 255, 0.89);
    transition: color 0.25s; }
    section.home-content div a {
      width: 100%;
      height: 100%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    section.home-content div:first-child {
      border-right: 1px solid rgba(255, 255, 255, 0.89);
      background: rgba(128, 195, 66, 0.75);
      transition: background 0.25s; }
      section.home-content div:first-child:hover {
        background: #80c342; }
    section.home-content div:last-child {
      border-left: 1px solid rgba(255, 255, 255, 0.89);
      background: rgba(70, 193, 240, 0.75);
      transition: background 0.25s; }
      section.home-content div:last-child:hover {
        background: #46c1f0; }
    section.home-content div h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 4.2rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.89); }
    section.home-content div ul {
      list-style: square;
      margin-top: 2rem; }
      section.home-content div ul li {
        padding: 1rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.89);
        font-family: 'Lato', sans-serif; }

section.home-about h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 4rem 0 1rem; }

section.home-about p {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-family: 'Slabo 27px', serif;
  font-size: 1.8rem;
  line-height: 2.52rem; }
  section.home-about p span {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0; }

section.results-found p.total-results {
  width: calc((100% / 12) * 5);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.89); }
  section.results-found p.total-results span {
    font-weight: 900;
    color: #f37444; }

section.results-found ul.results {
  margin: 1rem 0 2rem; }
  section.results-found ul.results li {
    padding: 2rem 0 2rem 2rem;
    margin: 0.25rem;
    height: 15vw;
    background: rgba(0, 0, 0, 0.2); }
    section.results-found ul.results li:before, section.results-found ul.results li:after {
      content: "";
      display: block;
      clear: both; }
    section.results-found ul.results li:active {
      background: #f37444; }
    section.results-found ul.results li:hover {
      background: rgba(70, 193, 240, 0.75); }
    section.results-found ul.results li:nth-child(even) {
      background: rgba(0, 0, 0, 0.1); }
      section.results-found ul.results li:nth-child(even):active {
        background: #f37444; }
      section.results-found ul.results li:nth-child(even):hover {
        background: rgba(70, 193, 240, 0.75); }
    section.results-found ul.results li div {
      height: 100%;
      float: left; }
    section.results-found ul.results li div.market-image {
      width: calc((100% / 12) * 4);
      margin: 0;
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.25); }
    section.results-found ul.results li div.market-info {
      width: calc((100% / 12) * 7);
      margin: 0;
      padding: 0;
      font-family: 'Slabo 27px', serif;
      font-size: 1.8rem;
      line-height: 2.52rem;
      margin-left: 4rem;
      padding-top: 1rem; }
      section.results-found ul.results li div.market-info p {
        color: rgba(0, 0, 0, 0.65); }
      section.results-found ul.results li div.market-info p:first-of-type {
        margin: 1rem 0 2rem; }
      section.results-found ul.results li div.market-info h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 3.4rem;
        color: rgba(0, 0, 0, 0.65); }

section.no-results {
  height: 40vh; }
  section.no-results h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.4rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 4rem; }
    section.no-results h2 span {
      color: #f37444; }

main.venue-details-page div.market-image,
main.venue-profile div.market-image {
  height: 60vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2rem 0 1rem; }

main.venue-details-page h1,
main.venue-profile h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem;
  color: rgba(0, 0, 0, 0.75);
  padding-bottom: 1rem; }
  main.venue-details-page h1 + p:first-of-type,
  main.venue-profile h1 + p:first-of-type {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75); }

main.venue-details-page h2,
main.venue-profile h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  color: rgba(0, 0, 0, 0.75);
  margin: 2rem 0 1rem; }
  main.venue-details-page h2 + p,
  main.venue-profile h2 + p {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0;
    font-family: 'Slabo 27px', serif;
    font-size: 1.8rem;
    line-height: 2.52rem;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 4rem; }

main.venue-details-page div.market-info,
main.venue-profile div.market-info {
  display: flex;
  justify-content: space-between; }
  main.venue-details-page div.market-info table,
  main.venue-profile div.market-info table {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.11); }
    main.venue-details-page div.market-info table tr,
    main.venue-profile div.market-info table tr {
      padding: 1rem; }
      main.venue-details-page div.market-info table tr:nth-child(even),
      main.venue-profile div.market-info table tr:nth-child(even) {
        background: rgba(70, 193, 240, 0.75); }
      main.venue-details-page div.market-info table tr:first-of-type,
      main.venue-profile div.market-info table tr:first-of-type {
        background: rgba(243, 116, 68, 0.75); }
      main.venue-details-page div.market-info table tr th,
      main.venue-profile div.market-info table tr th {
        font-family: 'Roboto', sans-serif;
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.89);
        text-align: left;
        padding: 1rem; }
      main.venue-details-page div.market-info table tr td,
      main.venue-profile div.market-info table tr td {
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        color: rgba(0, 0, 0, 0.5);
        padding: 1rem 2rem; }
        main.venue-details-page div.market-info table tr td p,
        main.venue-profile div.market-info table tr td p {
          color: rgba(0, 0, 0, 0.75); }
        main.venue-details-page div.market-info table tr td p.open,
        main.venue-profile div.market-info table tr td p.open {
          letter-spacing: 0.05rem; }
        main.venue-details-page div.market-info table tr td p.closed,
        main.venue-profile div.market-info table tr td p.closed {
          color: rgba(0, 0, 0, 0.5); }
  main.venue-details-page div.market-info div,
  main.venue-profile div.market-info div {
    margin-right: calc((100% / 12) * 1);
    width: 62rem; }
    main.venue-details-page div.market-info div:before, main.venue-details-page div.market-info div:after,
    main.venue-profile div.market-info div:before,
    main.venue-profile div.market-info div:after {
      content: "";
      display: block;
      clear: both; }
    main.venue-details-page div.market-info div div#venue-map,
    main.venue-profile div.market-info div div#venue-map {
      height: 26rem;
      width: 26rem;
      float: left;
      border: 1px solid rgba(0, 0, 0, 0.2); }
    main.venue-details-page div.market-info div address,
    main.venue-profile div.market-info div address {
      font-family: 'Roboto', sans-serif;
      font-size: 1.8rem;
      color: rgba(0, 0, 0, 0.5);
      line-height: 2rem;
      width: 28rem;
      float: left; }
      main.venue-details-page div.market-info div address p:last-of-type,
      main.venue-profile div.market-info div address p:last-of-type {
        font-size: 1.4rem;
        margin-top: 1rem; }

main.venue-details-page section.market-artists,
main.venue-profile section.market-artists {
  margin-top: 4rem; }
  main.venue-details-page section.market-artists ul,
  main.venue-profile section.market-artists ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    main.venue-details-page section.market-artists ul li,
    main.venue-profile section.market-artists ul li {
      width: calc((100% / 12) * 3.75);
      margin: 0;
      padding: 0;
      height: 16rem;
      margin-bottom: 4rem; }
      main.venue-details-page section.market-artists ul li div.artist-group-member-image,
      main.venue-profile section.market-artists ul li div.artist-group-member-image {
        width: 100%;
        height: 100%;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transition: border 0.1s; }
        main.venue-details-page section.market-artists ul li div.artist-group-member-image:hover,
        main.venue-profile section.market-artists ul li div.artist-group-member-image:hover {
          border: 4px solid rgba(243, 116, 68, 0.75); }
        main.venue-details-page section.market-artists ul li div.artist-group-member-image a,
        main.venue-profile section.market-artists ul li div.artist-group-member-image a {
          display: block;
          width: 100%;
          height: 100%; }
          main.venue-details-page section.market-artists ul li div.artist-group-member-image a span,
          main.venue-profile section.market-artists ul li div.artist-group-member-image a span {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 1rem;
            font-family: 'Roboto', sans-serif;
            font-size: 1.6rem;
            color: rgba(255, 255, 255, 0.89);
            text-shadow: 0 1px rgba(0, 0, 0, 0.6);
            letter-spacing: 1px;
            text-align: center;
            background: rgba(128, 195, 66, 0.75); }

main.artist-details-page div.artist-image {
  height: 60vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2rem 0 1rem; }

main.artist-details-page h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem;
  color: rgba(0, 0, 0, 0.75);
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75); }
  main.artist-details-page h1 + p:first-of-type {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75); }

main.artist-details-page h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  color: rgba(0, 0, 0, 0.75);
  margin: 2rem 0 1rem; }
  main.artist-details-page h2 + p {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0;
    font-family: 'Slabo 27px', serif;
    font-size: 1.8rem;
    line-height: 2.52rem;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 4rem; }

main.artist-details-page div.market-info {
  display: flex;
  justify-content: space-between; }
  main.artist-details-page div.market-info table {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.11); }
    main.artist-details-page div.market-info table tr {
      padding: 1rem; }
      main.artist-details-page div.market-info table tr:nth-child(even) {
        background: rgba(70, 193, 240, 0.75); }
      main.artist-details-page div.market-info table tr:first-of-type {
        background: rgba(243, 116, 68, 0.75); }
      main.artist-details-page div.market-info table tr th {
        font-family: 'Roboto', sans-serif;
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.89);
        text-align: left;
        padding: 1rem; }
      main.artist-details-page div.market-info table tr td {
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        color: rgba(0, 0, 0, 0.5);
        padding: 1rem 2rem; }
        main.artist-details-page div.market-info table tr td p {
          color: rgba(0, 0, 0, 0.75); }
        main.artist-details-page div.market-info table tr td p.open {
          letter-spacing: 0.05rem; }
        main.artist-details-page div.market-info table tr td p.closed {
          color: rgba(0, 0, 0, 0.5); }
  main.artist-details-page div.market-info div {
    margin-right: calc((100% / 12) * 1);
    width: 62rem; }
    main.artist-details-page div.market-info div:before, main.artist-details-page div.market-info div:after {
      content: "";
      display: block;
      clear: both; }

main.artist-details-page section.artist-groups {
  margin-top: 4rem; }
  main.artist-details-page section.artist-groups ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    main.artist-details-page section.artist-groups ul li {
      width: calc((100% / 12) * 3.75);
      margin: 0;
      padding: 0;
      height: 16rem;
      margin-bottom: 4rem; }
      main.artist-details-page section.artist-groups ul li div.market-group-member-image {
        width: 100%;
        height: 100%;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transition: border 0.1s; }
        main.artist-details-page section.artist-groups ul li div.market-group-member-image:hover {
          border: 4px solid rgba(243, 116, 68, 0.75); }
        main.artist-details-page section.artist-groups ul li div.market-group-member-image a {
          display: block;
          width: 100%;
          height: 100%; }
          main.artist-details-page section.artist-groups ul li div.market-group-member-image a span {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 1rem;
            font-family: 'Roboto', sans-serif;
            font-size: 1.6rem;
            color: rgba(255, 255, 255, 0.89);
            text-shadow: 0 1px rgba(0, 0, 0, 0.6);
            letter-spacing: 1px;
            text-align: center;
            background: rgba(128, 195, 66, 0.75); }

main.artist-profile div.profile-image {
  height: 45vh;
  margin-top: 1rem;
  position: relative;
  background-color: #fff; }

main.artist-profile h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6.2rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6); }

main.artist-profile h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0; }

main.artist-profile p.bio {
  font-family: 'Slabo 27px', serif;
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4rem; }

main.artist-profile h2:last-of-type + ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem; }

main.artist-regisrtation h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem; }

main.artist-regisrtation form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main.artist-regisrtation form h2 {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
    margin: 8rem 0 1rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 3.4rem; }
  main.artist-regisrtation form label {
    display: none; }
  main.artist-regisrtation form div,
  main.artist-regisrtation form button {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0; }
    main.artist-regisrtation form div input,
    main.artist-regisrtation form div button,
    main.artist-regisrtation form button input,
    main.artist-regisrtation form button button {
      padding: 0.5rem 0.75rem;
      width: 100%;
      margin-top: 2rem;
      padding-bottom: 0.15rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      font-family: 'Slabo 27px', serif;
      font-size: 1.8rem;
      line-height: 2.52rem; }
    main.artist-regisrtation form div input#app_bundle_artist_regitration_profileImage,
    main.artist-regisrtation form button input#app_bundle_artist_regitration_profileImage {
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-left: 0.25rem;
      padding: 0.5rem 0.75rem;
      border: 0;
      border-radius: 0rem;
      font-size: 1.8rem;
      font-family: 'Lato', sans-serif;
      color: #46c1f0; }
    main.artist-regisrtation form div label[for='app_bundle_artist_regitration_bio'],
    main.artist-regisrtation form button label[for='app_bundle_artist_regitration_bio'] {
      border: none; }
    main.artist-regisrtation form div textarea#app_bundle_artist_regitration_bio,
    main.artist-regisrtation form button textarea#app_bundle_artist_regitration_bio {
      font-family: 'Slabo 27px', serif;
      font-size: 1.8rem;
      line-height: 2.52rem;
      padding: 0.5rem;
      margin-top: 2rem;
      width: 100%;
      height: 20rem;
      border: none;
      background: rgba(0, 0, 0, 0.6);
      color: rgba(255, 255, 255, 0.89); }
  main.artist-regisrtation form div.artist-name {
    display: flex;
    border: none; }
    main.artist-regisrtation form div.artist-name div:first-child {
      margin-right: 4rem; }
  main.artist-regisrtation form button {
    border: none;
    background: rgba(243, 116, 68, 0.75);
    color: rgba(255, 255, 255, 0.89);
    letter-spacing: 2px;
    border-radius: 50rem;
    padding: 1rem;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem; }
    main.artist-regisrtation form button:hover, main.artist-regisrtation form button:active {
      background: #f37444; }

main.venue-profile div.profile-image {
  height: 45vh;
  margin-top: 1rem;
  position: relative;
  background-color: #fff; }

main.venue-profile h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6.2rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 1rem 0 2rem; }

main.venue-profile h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 0; }

main.venue-profile p.bio {
  font-family: 'Slabo 27px', serif;
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4rem; }

main.venue-profile h2:last-of-type + ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem; }

main.venue-regisrtation h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem; }

main.venue-regisrtation form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main.venue-regisrtation form h2 {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
    margin: 8rem 0 1rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 3.4rem; }
  main.venue-regisrtation form label {
    display: none; }
  main.venue-regisrtation form div,
  main.venue-regisrtation form button {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0; }
    main.venue-regisrtation form div input,
    main.venue-regisrtation form div button,
    main.venue-regisrtation form button input,
    main.venue-regisrtation form button button {
      padding: 0.5rem 0.75rem;
      width: 100%;
      margin-top: 2rem;
      padding-bottom: 0.15rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      font-family: 'Slabo 27px', serif;
      font-size: 1.8rem;
      line-height: 2.52rem; }
    main.venue-regisrtation form div input#app_bundle_venue_registration_profileImage,
    main.venue-regisrtation form button input#app_bundle_venue_registration_profileImage {
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-left: 0.25rem;
      padding: 0.5rem 0.75rem;
      border: 0;
      border-radius: 0rem;
      font-size: 1.8rem;
      font-family: 'Lato', sans-serif;
      color: #46c1f0; }
    main.venue-regisrtation form div label[for='app_bundle_venue_registration_bio'],
    main.venue-regisrtation form button label[for='app_bundle_venue_registration_bio'] {
      border: none; }
    main.venue-regisrtation form div textarea#app_bundle_venue_registration_bio,
    main.venue-regisrtation form button textarea#app_bundle_venue_registration_bio {
      font-family: 'Slabo 27px', serif;
      font-size: 1.8rem;
      line-height: 2.52rem;
      padding: 0.5rem;
      margin-top: 2rem;
      width: 100%;
      height: 20rem;
      border: none;
      background: rgba(0, 0, 0, 0.6);
      color: rgba(255, 255, 255, 0.89); }
  main.venue-regisrtation form div.venue-name {
    display: flex;
    border: none; }
    main.venue-regisrtation form div.venue-name div:first-child {
      margin-right: 4rem; }
  main.venue-regisrtation form button {
    border: none;
    background: rgba(243, 116, 68, 0.75);
    color: rgba(255, 255, 255, 0.89);
    letter-spacing: 2px;
    border-radius: 50rem;
    padding: 1rem;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem; }
    main.venue-regisrtation form button:hover, main.venue-regisrtation form button:active {
      background: #f37444; }
  main.venue-regisrtation form table {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 2rem; }
    main.venue-regisrtation form table tr th {
      font-family: 'Roboto', sans-serif;
      font-size: 2.4rem;
      text-align: left;
      padding: 1rem; }
    main.venue-regisrtation form table tr td {
      font-family: 'Roboto', sans-serif;
      font-size: 1.8rem;
      padding: 1rem; }
      main.venue-regisrtation form table tr td div {
        margin: 0;
        padding: 0; }
        main.venue-regisrtation form table tr td div input {
          margin: 0;
          padding: 0.5rem; }
    main.venue-regisrtation form table tr:nth-child(odd) {
      background: rgba(0, 0, 0, 0.1); }

main.venue-profile section.market-artists {
  padding-top: 4rem; }
  main.venue-profile section.market-artists div.market-invitations {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; }
    main.venue-profile section.market-artists div.market-invitations p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.8rem; }
      main.venue-profile section.market-artists div.market-invitations p a {
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: 1px;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
        main.venue-profile section.market-artists div.market-invitations p a span {
          padding: 0.5rem 1.5rem;
          background: #46c1f0;
          border-radius: 50rem;
          color: rgba(255, 255, 255, 0.89); }
        main.venue-profile section.market-artists div.market-invitations p a:visited {
          color: rgba(0, 0, 0, 0.6); }
        main.venue-profile section.market-artists div.market-invitations p a:hover {
          color: #f37444;
          border-bottom: 1px solid #f37444; }
          main.venue-profile section.market-artists div.market-invitations p a:hover span {
            background: #f37444; }
    main.venue-profile section.market-artists div.market-invitations > p:last-child a {
      background: #f37444;
      border-radius: 50rem;
      padding: 1rem 2rem;
      border: none;
      color: rgba(255, 255, 255, 0.89); }
      main.venue-profile section.market-artists div.market-invitations > p:last-child a:visited {
        color: rgba(255, 255, 255, 0.89); }
      main.venue-profile section.market-artists div.market-invitations > p:last-child a:hover {
        background: #46c1f0; }

main.venue-invite-artists div.artists-found p.total-results {
  width: calc((100% / 12) * 4);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  margin-top: 4rem;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
  main.venue-invite-artists div.artists-found p.total-results span {
    color: #f37444; }

main.venue-invite-artists div.artists-found ul li {
  margin: 1rem 0 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between; }
  main.venue-invite-artists div.artists-found ul li p.invitation {
    width: calc((100% / 12) * 1.5);
    margin: 0;
    padding: 0; }
    main.venue-invite-artists div.artists-found ul li p.invitation a {
      display: block;
      font-family: 'Roboto', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 1px;
      text-align: center;
      padding: 0.5rem 0 1rem;
      border-radius: 50rem;
      background: rgba(243, 116, 68, 0.75);
      color: rgba(255, 255, 255, 0.89); }
      main.venue-invite-artists div.artists-found ul li p.invitation a:visited {
        color: rgba(255, 255, 255, 0.89); }
      main.venue-invite-artists div.artists-found ul li p.invitation a:hover {
        background: #f37444; }
  main.venue-invite-artists div.artists-found ul li > a {
    display: block;
    width: calc((100% / 12) * 9);
    margin: 0;
    padding: 0; }
    main.venue-invite-artists div.artists-found ul li > a:before, main.venue-invite-artists div.artists-found ul li > a:after {
      content: "";
      display: block;
      clear: both; }
  main.venue-invite-artists div.artists-found ul li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1); }
  main.venue-invite-artists div.artists-found ul li:nth-child(even) {
    background: rgba(0, 0, 0, 0.2); }
  main.venue-invite-artists div.artists-found ul li:hover {
    background: rgba(70, 193, 240, 0.75); }
  main.venue-invite-artists div.artists-found ul li div {
    float: left; }
  main.venue-invite-artists div.artists-found ul li div.artist-image {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0;
    height: 18rem; }
  main.venue-invite-artists div.artists-found ul li div.artist-info {
    width: calc((100% / 12) * 8);
    margin: 0;
    padding: 0; }
    main.venue-invite-artists div.artists-found ul li div.artist-info p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.8rem;
      color: rgba(0, 0, 0, 0.6);
      margin: 1rem; }
    main.venue-invite-artists div.artists-found ul li div.artist-info > p:first-of-type {
      font-family: 'Roboto', sans-serif;
      font-size: 2.4rem;
      margin-top: 0; }

main.venue-invite-artists p.no-artist-results {
  margin-top: 4rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.6); }
  main.venue-invite-artists p.no-artist-results span {
    color: #f37444; }

main.artist-details-page h2.artist-invite {
  text-align: center; }
  main.artist-details-page h2.artist-invite a {
    color: rgba(243, 116, 68, 0.75); }
    main.artist-details-page h2.artist-invite a:visited {
      color: rgba(243, 116, 68, 0.75); }
    main.artist-details-page h2.artist-invite a:hover {
      color: #f37444; }

main.venue-invite-artists h1 {
  margin: 4rem 0 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center; }

main.venue-invite-artists div.artist-search-form {
  display: flex;
  justify-content: center; }
  main.venue-invite-artists div.artist-search-form form {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0;
    padding: 0.5rem;
    background: #80c342;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2rem 0.5rem rgba(255, 255, 255, 0.89); }
    main.venue-invite-artists div.artist-search-form form button {
      margin-left: calc((100% / 12) * 0.25);
      border-radius: 50rem;
      padding: 0.5rem 1rem;
      line-height: 2rem;
      background: #f37444;
      font-size: 1.8rem;
      font-family: 'Lato', sans-serif;
      color: rgba(255, 255, 255, 0.89);
      border: none; }
    main.venue-invite-artists div.artist-search-form form div {
      width: calc((100% / 12) * 12);
      margin: 0;
      padding: 0;
      display: inline-block;
      border-radius: 0; }
      main.venue-invite-artists div.artist-search-form form div label {
        display: none; }
      main.venue-invite-artists div.artist-search-form form div input {
        width: 100%;
        padding: 0.5rem 0.75rem;
        border-radius: 50rem;
        font-size: 1.8rem;
        font-family: 'Lato', sans-serif;
        color: #46c1f0; }

p.remove-invitation a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
  p.remove-invitation a:visited {
    color: rgba(0, 0, 0, 0.6); }
  p.remove-invitation a:hover {
    color: #f37444;
    border-bottom: 1px solid #f37444; }

h2.no-pending-invitations {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #46c1f0;
  text-align: center; }

.devGrid {
  background: rgba(255, 217, 0, 0.25);
  position: fixed;
  width: 96%;
  height: 100%;
  float: left;
  color: red; }
  .devGrid li {
    width: calc((100% / 12) * (1 * 0.98));
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    background: rgba(0, 119, 255, 0.25); }
  .devGrid li:first-child {
    margin-left: 0; }
  .devGrid li:last-child {
    margin-right: 0; }
