@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto|Slabo+27px");
/* CSS RESET
====================================================================================================
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  margin: 0;
  padding: 2% 2% 0 2%;
  font-size: 10px;
  padding-bottom: 14.8rem; }

body {
  margin: 0;
  min-height: 100%; }

main {
  min-height: 100%; }

.footer-pusher {
  height: 14.8rem;
  min-height: 100%; }

header {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex; }
  header a {
    color: rgba(0, 0, 0, 0.6); }
  header a.logo {
    width: calc((100% / 12) * (1 * 0.98));
    margin: 0;
    padding: 0;
    font-size: 0;
    background: url("../assets/local_art_logo_50x50.svg") no-repeat; }
  header div {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0; }
    header div h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 6.2rem; }
    header div p {
      padding-top: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-size: 2.4rem; }
  header > ul {
    width: calc((100% / 12) * 2);
    margin: 0;
    padding: 0;
    margin-left: calc((100% / 12) * 4);
    display: flex;
    justify-content: space-between; }
    header > ul > li {
      font-family: 'Roboto', sans-serif;
      font-size: 1.6rem; }
      header > ul > li p {
        padding-top: 1rem; }
    header > ul > li:first-child p a {
      color: rgba(0, 0, 0, 0.6);
      padding: 1rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
      header > ul > li:first-child p a:visited {
        color: +greyFont(0.6); }
      header > ul > li:first-child p a:hover {
        color: #46c1f0;
        border-bottom: 1px solid #46c1f0; }
    header > ul > li:last-child p a {
      padding: 1rem;
      border-radius: 50rem;
      background: #f37444;
      color: rgba(255, 255, 255, 0.89); }
      header > ul > li:last-child p a:hover {
        background: #46c1f0; }

footer {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  width: 100vw;
  margin-left: -2%;
  padding: 2%;
  background: rgba(0, 0, 0, 0.2); }
  footer a {
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.6); }
    footer a:visited {
      color: rgba(0, 0, 0, 0.6); }
  footer ul {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0; }
    footer ul li {
      padding-top: 2rem; }
    footer ul li:nth-child(3n + 1) {
      padding-top: 0; }
  footer ul:last-child li a {
    color: #f37444; }
    footer ul:last-child li a:hover {
      color: #46c1f0; }
  footer ul:last-child li:first-child a {
    color: rgba(0, 0, 0, 0.6); }
    footer ul:last-child li:first-child a:hover {
      color: #46c1f0; }

main.artist-profile div.profile-image {
  height: 45vh;
  margin-top: 1rem;
  position: relative;
  background-color: #fff; }

main.artist-profile h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6.2rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6); }

main.artist-profile h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0; }

main.artist-profile p.bio {
  font-family: 'Slabo 27px', serif;
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4rem; }

main.artist-profile h2:last-of-type + ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem; }

main.venue-profile div.profile-image {
  height: 45vh;
  margin-top: 1rem;
  position: relative;
  background-color: #fff; }

main.venue-profile h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6.2rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6); }

main.venue-profile h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0; }

main.venue-profile p.bio {
  font-family: 'Slabo 27px', serif;
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4rem; }

main.venue-profile h2:last-of-type + ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem; }

.devGrid {
  background: rgba(255, 217, 0, 0.25);
  position: fixed;
  width: 96%;
  height: 100%;
  float: left;
  color: red; }
  .devGrid li {
    width: calc((100% / 12) * (1 * 0.98));
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    background: rgba(0, 119, 255, 0.25); }
  .devGrid li:first-child {
    margin-left: 0; }
  .devGrid li:last-child {
    margin-right: 0; }
