@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto|Slabo+27px");
/* CSS RESET
====================================================================================================
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  margin: 0;
  padding: 2% 2% 0 2%;
  font-size: 10px;
  position: relative;
  padding-bottom: 4rem; }

body {
  margin: 0;
  min-height: 100%; }

main {
  min-height: 100%; }

header {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex; }
  header a {
    color: rgba(0, 0, 0, 0.6); }
  header a.logo {
    width: calc((100% / 12) * (1 * 0.98));
    margin: 0;
    padding: 0;
    font-size: 0;
    background: url("../assets/local_art_logo_50x50.svg") no-repeat; }
  header div {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0; }
    header div h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 6.2rem; }
    header div p {
      padding: 1rem 0.25rem 0;
      font-family: 'Roboto', sans-serif;
      font-size: 2.4rem; }
  header > ul {
    width: calc((100% / 12) * 2);
    margin: 0;
    padding: 0;
    margin-left: calc((100% / 12) * 4);
    display: flex;
    justify-content: space-between; }
    header > ul > li {
      font-family: 'Roboto', sans-serif;
      font-size: 1.6rem; }
      header > ul > li p {
        padding-top: 1rem; }
    header > ul > li:first-child p a {
      color: rgba(0, 0, 0, 0.6);
      padding: 1rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6); }
      header > ul > li:first-child p a:visited {
        color: +greyFont(0.6); }
      header > ul > li:first-child p a:hover {
        color: #46c1f0;
        border-bottom: 1px solid #46c1f0; }
    header > ul > li:last-child p a {
      padding: 1rem;
      border-radius: 50rem;
      background: #f37444;
      color: rgba(255, 255, 255, 0.89); }
      header > ul > li:last-child p a:hover {
        background: #46c1f0; }

footer {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  width: 100vw;
  margin: 4rem 0 0 -2%;
  padding: 2%;
  background: rgba(0, 0, 0, 0.2); }
  footer a {
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.6); }
    footer a:visited {
      color: rgba(0, 0, 0, 0.6); }
  footer ul {
    width: calc((100% / 12) * 4);
    margin: 0;
    padding: 0; }
    footer ul li {
      padding-top: 2rem; }
    footer ul li:nth-child(3n + 1) {
      padding-top: 0; }
  footer ul:last-child li a {
    color: #f37444; }
    footer ul:last-child li a:hover {
      color: #46c1f0; }
  footer ul:last-child li:first-child a {
    color: rgba(0, 0, 0, 0.6); }
    footer ul:last-child li:first-child a:hover {
      color: #46c1f0; }

main.home-page div.hero {
  background: url("../assets/local_art_hero.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  main.home-page div.hero h1 {
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 6.2rem;
    color: rgba(0, 0, 0, 0.6); }
  main.home-page div.hero form {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0;
    padding: 0.5rem;
    background: #80c342;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2rem 0.5rem rgba(255, 255, 255, 0.89); }
    main.home-page div.hero form p {
      margin-left: calc((100% / 12) * 0.25);
      margin-right: calc((100% / 12) * 0.25);
      display: inline-block;
      border-radius: 100%;
      background: rgba(243, 116, 68, 0.75);
      width: 3rem;
      height: 3rem;
      line-height: 2.75rem;
      text-align: center;
      font-size: 1.8rem;
      font-family: 'Lato', sans-serif;
      color: rgba(255, 255, 255, 0.89); }
    main.home-page div.hero form button {
      margin-left: calc((100% / 12) * 0.25);
      border-radius: 50rem;
      padding: 0.5rem 1rem;
      line-height: 2rem;
      background: #f37444;
      font-size: 1.8rem;
      font-family: 'Lato', sans-serif;
      color: rgba(255, 255, 255, 0.89);
      border: none; }
    main.home-page div.hero form div {
      width: calc((100% / 12) * 3);
      margin: 0;
      padding: 0;
      display: inline-block;
      border-radius: 0; }
      main.home-page div.hero form div label {
        display: none; }
      main.home-page div.hero form div input {
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1.8rem;
        font-family: 'Lato', sans-serif;
        color: #46c1f0; }
      main.home-page div.hero form div select {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        margin-left: 0.25rem;
        padding: 0.5rem 0.75rem;
        border: 0;
        border-radius: 0;
        font-size: 1.8rem;
        font-family: 'Lato', sans-serif;
        color: #46c1f0; }
      main.home-page div.hero form div:first-of-type input {
        border-radius: 50rem 0 0 50rem; }
      main.home-page div.hero form div:last-of-type input {
        border-radius: 0 50rem 50rem 0; }

section.home-content {
  display: flex;
  justify-content: center; }
  section.home-content div {
    width: 100%;
    min-height: 20vw;
    color: rgba(255, 255, 255, 0.89);
    transition: color 0.25s; }
    section.home-content div a {
      width: 100%;
      height: 100%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    section.home-content div:first-child {
      border-right: 1px solid rgba(255, 255, 255, 0.89);
      background: rgba(128, 195, 66, 0.75);
      transition: background 0.25s; }
      section.home-content div:first-child:hover {
        background: #80c342; }
    section.home-content div:last-child {
      border-left: 1px solid rgba(255, 255, 255, 0.89);
      background: rgba(70, 193, 240, 0.75);
      transition: background 0.25s; }
      section.home-content div:last-child:hover {
        background: #46c1f0; }
    section.home-content div h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 4.2rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.89); }
    section.home-content div ul {
      list-style: square;
      margin-top: 2rem; }
      section.home-content div ul li {
        padding: 1rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.89);
        font-family: 'Lato', sans-serif; }

section.home-about h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 4rem 0 1rem; }

section.home-about p {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-family: 'Slabo 27px', serif;
  font-size: 1.8rem;
  line-height: 2.52rem; }
  section.home-about p span {
    width: calc((100% / 12) * 6);
    margin: 0;
    padding: 0; }

section.results-found p.total-results {
  width: calc((100% / 12) * 5);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.89); }
  section.results-found p.total-results span {
    font-weight: 900;
    color: #f37444; }

section.results-found ul.results {
  margin: 1rem 0 2rem; }
  section.results-found ul.results li {
    padding: 2rem 0 2rem 2rem;
    margin: 0.25rem;
    height: 15vw;
    background: rgba(0, 0, 0, 0.2); }
    section.results-found ul.results li:before, section.results-found ul.results li:after {
      content: "";
      display: block;
      clear: both; }
    section.results-found ul.results li:active {
      background: #f37444; }
    section.results-found ul.results li:hover {
      background: rgba(70, 193, 240, 0.75); }
    section.results-found ul.results li:nth-child(even) {
      background: rgba(0, 0, 0, 0.1); }
      section.results-found ul.results li:nth-child(even):active {
        background: #f37444; }
      section.results-found ul.results li:nth-child(even):hover {
        background: rgba(70, 193, 240, 0.75); }
    section.results-found ul.results li div {
      height: 100%;
      float: left; }
    section.results-found ul.results li div.market-image {
      width: calc((100% / 12) * 4);
      margin: 0;
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.25); }
    section.results-found ul.results li div.market-info {
      width: calc((100% / 12) * 7);
      margin: 0;
      padding: 0;
      font-family: 'Slabo 27px', serif;
      font-size: 1.8rem;
      line-height: 2.52rem;
      margin-left: 4rem;
      padding-top: 1rem; }
      section.results-found ul.results li div.market-info p {
        color: rgba(0, 0, 0, 0.65); }
      section.results-found ul.results li div.market-info p:first-of-type {
        margin: 1rem 0 2rem; }
      section.results-found ul.results li div.market-info h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 3.4rem;
        color: rgba(0, 0, 0, 0.65); }

section.no-results {
  height: 40vh; }
  section.no-results h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.4rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 4rem; }
    section.no-results h2 span {
      color: #f37444; }

main.artist-profile div.profile-image {
  height: 45vh;
  margin-top: 1rem;
  position: relative;
  background-color: #fff; }

main.artist-profile h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6.2rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6); }

main.artist-profile h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0; }

main.artist-profile p.bio {
  font-family: 'Slabo 27px', serif;
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4rem; }

main.artist-profile h2:last-of-type + ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem; }

main.venue-profile div.profile-image {
  height: 45vh;
  margin-top: 1rem;
  position: relative;
  background-color: #fff; }

main.venue-profile h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6.2rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6); }

main.venue-profile h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0; }

main.venue-profile p.bio {
  font-family: 'Slabo 27px', serif;
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4rem; }

main.venue-profile h2:last-of-type + ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem; }

.devGrid {
  background: rgba(255, 217, 0, 0.25);
  position: fixed;
  width: 96%;
  height: 100%;
  float: left;
  color: red; }
  .devGrid li {
    width: calc((100% / 12) * (1 * 0.98));
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    background: rgba(0, 119, 255, 0.25); }
  .devGrid li:first-child {
    margin-left: 0; }
  .devGrid li:last-child {
    margin-right: 0; }
