

<div class="artist-search-form">
    {{ form_start(artistSearch) }}
    {{ form_row(artistSearch.artist, {
        label: ' ',
        attr: {
            placeholder: 'Search artist: business name, first name, last name, or email'
        }
    }) }}

    <button type="submit">Search</button>
    {{ form_end(artistSearch) }}
</div>

