{% extends 'base.html.twig' %}

{% block body %}
    <main class="artist-detail">

        <div class="hero">

        </div>

        <p>{{ artist.firstName }} {{ artist.lastName }}</p>
    </main>
{% endblock %}
