{% extends 'base.html.twig' %}

{% block body %}
    <main class="home-page">

        <div class="hero">

            {{ include(':main/partials:searchFormTemplate.html.twig') }}
        </div>

        {% if results %}

            {{ include(':main/partials:resultsList.html.twig') }}

        {% else %}

            {{ include(':main/partials:noResults.html.twig') }}

        {% endif %}


    </main>
{% endblock %}
