{% extends 'base.html.twig' %}

{% block body %}
    <main class="home-page">

        <div class="hero">

            {{ include(':main/partials/home:searchFormTemplate.html.twig') }}
        </div>

        {% if results %}

            {{ include(':main/partials/home:resultsList.html.twig') }}

        {% else %}

            {{ include(':main/partials/home:noResults.html.twig') }}

        {% endif %}

        {{ include(':main/partials/home:homeContent.html.twig') }}
    </main>
{% endblock %}
