
main.artist-profile
  section.artist-groups
    & > p
      +displayFont(1.8)
      color: rgba(0, 0, 0, $siteGreyShade)
      a
        color: rgba(0, 0, 0, $siteGreyShade)
        padding-bottom: 0.5rem
        border-bottom: 1px solid rgba(0, 0, 0, $siteGreyShade)

        span
          padding: 0.5rem 1rem
          display: inline-block
          background: $orange
          color: $white
          border-radius: 50rem


        &:visited
          color: rgba(0, 0, 0, $siteGreyShade)
        &:hover
          color: $orange
          border-bottom: 1px solid $orange
