
main.artist-profile
  div.profile-image
    height: 45vh
    margin-top: 1rem
    position: relative
    background-color: #fff
    // border: 1px solid rgba(0,0,0,0.38)

    h1
      color: red
      +col(4)
      position: absolute
      padding: 2%
      bottom: 0
      +devBox(red)
